header {
  background: linear-gradient(to bottom, #353c4c, #0d1017)
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Asignamos tamaño, posición y una transición cuando posamos el cursor a cada imagen */
#piedra {
  width: 100px;
  height: 130px; 
  display: flex;
  transition: transform 0.3s;
}

#piedra:hover {
  transform: scale(1.2);
}
#papel {
  width: 100px;
  height: 130px; 
  display: flex;
  transition: transform 0.3s;
}

#papel:hover {
  transform: scale(1.2);
}
#tijera {
  width: 100px;
  height: 130px; 
  display: flex;
  transition: transform 0.3s;
}

#tijera:hover {
  transform: scale(1.2);
}
.opciones {
  margin-right: 700px;
  position: absolute;

}
.Interfaz {
    margin-top: 400px;
    margin-right: 700px;
    position: absolute;
}
.marcador {
  position: absolute;
  margin-left: 700px ;
}
.imagenes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.Bienvenida {
  position: absolute;
  margin-top: -300px;
  margin-left: -390px;
}

.ingreso {
  position: absolute;
  margin-top: -103px;
  margin-left: -100px;
}

.Resultado {
  position: absolute;
  margin-top: 400px;
  margin-left: 700px ;
}

.reinicio {
  position: absolute;
  margin-top: 250px;
  margin-left: -80px;
}